html {
  cursor:url('http://www.snazzyspace.com/cursorsfolder/dog-paw.png'), auto !important;
}
body {
  background-image: url("../img/wood.jpg");
  background-color: #D3D3D3;
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  cursor:url('http://www.snazzyspace.com/cursorsfolder/dog-paw.png'), auto !important;
}
.headpic {
  max-height: 550px;
  margin-top: 50px;
}
.jumbotron {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding: 15px;
}
.rounded {
  border-radius:10px;
}
a {
  cursor:url('http://www.snazzyspace.com/cursorsfolder/dog-paw.png'), auto !important;
}
a:hover { cursor:url('http://www.snazzyspace.com/cursorsfolder/dog-paw.png'), auto !important;
}
footer {
  background-color: black;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  color: white;
}

/*YVONNA SIMON CSS*/
.backgroundBorder {
  background-color: yellow;
}

.glyph1, .glyph2, .glyph3 {
  display: none;
}

#yellow p {
  background-color: yellow;
  font-size: 12px;
}

.map {
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-top: 8px;
}
.readMoreArticle, .readMoreHikes {
  display: none;
}
.newsArticle {
  border: 2px solid;
  padding: 10px;
  border-radius:10px;
  background-color: #f6f6f6;
}
.hikeBorder {
  margin-top: 20px;
  border: 2px solid;
  padding: 10px;
  border-radius:10px;
  background-color: #f6f6f6;
}
.endArticle {
  margin-top: 20px;
  font-size: 20px;
}

h4 {
  font-weight: bold;
}

.frontImg img {
  float: right;
  padding-left: 5px;
  border-radius:10px;
}
.sideArticles, .vetlinks, .foodRecall {
  border: 2px dotted black;
  border-radius:10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e4e4e4;
}
.slidersduce {
  background-color: white;
  padding: 60px;
}
.slidersduce img {
  float:right;
  padding-left: 10px;
}

.slidersduce2 {
  text-align: left;
  background-color: white;
  padding: 40px;
  padding-left: 120px;
}
.toysPar {
  margin-top: 50px;
  margin-bottom: 50px;
}
.foodCarousel {
  margin-bottom: 10px;
  border-radius: 10px;
}
.humane {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
.animalHumane {
  float:left;
  margin-left: 210px;

.box {
  padding-left: 75px;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-top: 8px;
}

.dogImage {
  max-width: 60%;
  max-height: 400px;
}

.parkTitle {
  text-decoration: underline;
